{% extends 'index.html' %}
{% load filters %}
{% block title %}{{ order.name }} | {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg">
        <div class="row no-gutters">
            <div class="col-lg-12">
                {% if product.image %}
                <img class="img-fluid" src="{{product.image.url}}">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg">
        <div class="mt-4 mt-lg-0">
            <h1 class="h2">{{product.name}}</h1>
            <p class="lead">{{product.short_description}}</p>
            <p class="lead">
                {% if product.promotional_price %}
                <span id="variation-promotional-price" class="lead product-price">
                    {{product.promotional_price|format_price}}
                </span>
                <span id="variation-price" class="lead product-old-price text-muted">
                    {{product.price|format_price}}
                </span>
                {% else %}
                <span id="variation-price" class="lead product-price">
                    {{product.price|format_price}}
                </span>
                {% endif %}
            </p>

            <form action="{% url 'product:addtocart' %}" id="form-add-to-cart">
            <div class="form-group">
                    <select id="select-variation" name="vid" class="form-control form-control-lg">
                        {% for variation in product.variation_set.all %}
                        {% if variation.promotional_price %}
                        <option price-data="{{variation.price|format_price}}" 
                            promotional-price-data="{{variation.promotional_price|format_price}}" 
                            value="{{variation.id}}">
                            {% if variation.name %}
                            {{variation.name}}
                            {% else %}
                            {{variation}}
                            {% endif %}
                        </option>
                        {% else %}
                        <option price-data="{{variation.price|format_price}}" value="{{variation.id}}">{{variation}}
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="text-left">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Add to cart
                    </button>
                </div>

            </form>


        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="mt-5 mb-5">
            <h2 class="text-center">{{product.name}}</h2>
            {{ product.big_description|linebreaks }}
        </div>
    </div>
</div>
{% endblock %}