{% extends 'index.html' %}
{% block title %}{{ user }}'s orders | {% endblock %}
{% load filters %}

{% block content %}
<div class="row">
    <div class="col">
        <h3 class="mb-4">{{ user }}'s orders</h3>
        <p>Abaixo todos os seus pedidos realizados na loja.</p>

        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th scope="col">Order</th>
                    <th scope="col">Total</th>
                    <th scope="col">Qty. Items</th>
                    <th scope="col">Status</th>
                    <th scope="col">More details</th>
                </tr>

                {% for order in orders %}
                <tr>
                    <th scope="row">{{ order }}</td>
                    <td>{{ order.total }}</td>
                    <td>{{ order.qty_total|format_price }}</td>
                    <td>{{ order.get_status_display }}</td>
                    <td>
                        <a href="{% url 'order:detail' order.id %}">
                            View <i class="fas fa-search-plus ml-2"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% include 'partials/_pagination.html' %}
{% endblock %}